@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h1 class="star-glance-no-access" data-text="@ViewData["Title"]">@ViewData["Title"]</h1>

<div class="splash-screen">
    
    <p class="splash-info-text">You do not have access to this resource.</p>
</div>
