@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="create-person-form identity-forms">
    <div class="">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating my-5">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="error-message"></span>
            </div>
            <div class="form-floating my-5">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="error-message"></span>
            </div>
            <div class="form-floating my-5">
                <input asp-for="Input.Birthday" type="date" class="form-control" aria-required="true" />
                <label asp-for="Input.Birthday"></label>
                <span asp-validation-for="Input.Birthday" class="error-message"></span>
            </div>
            <div class="form-floating my-5">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="error-message"></span>
            </div>
            <div class="form-floating my-5">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="error-message"></span>
                <p>Password for dev: Aa123456!</p>
            </div>
            <div class="form-floating my-5">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="error-message"></span>
            </div>

            <label asp-for="Input.IsAdmin" class="form-label"></label>
            <input asp-for="Input.IsAdmin" class="form-check-input" type="checkbox" aria-required="true" />

            <div>
                <button id="registerSubmit" type="submit" class="btn add-person-buttons identity-btn">Register</button>
            </div>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
