@{
    ViewData["Title"] = "Home";
}

<h1 class="star-glance" data-text="We are the People!">We are the People!</h1>

<h2>We Are Here!</h2>

<div class="splash-screen">
    <p class="splash-info-text">
        This is the People Dashboard! Look at us, add us, delete us without any limit.
    </p>
</div>

<div class="todo-wrapper">
    <ul>
        @*<li class="todo"></li>*@
    </ul>
</div>